/* =========================================
   تنظیمات کلی صفحه About Me
   ========================================= */

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100%;
}


/* =========================================
   صفحه About Me
   ========================================= */

body {
    background-color: #433F46;

    font-family: "Quadrant Text Mono", monospace;

    color: #433F46;
}


/* =========================================
   عنوان About Me
   ========================================= */

.about-title {
    text-align: center;

    margin: 30px 0 40px;

    color: #E7E7E0;

    font-family: "Courier New", monospace;

    font-size: 50px;
}


/* =========================================
   کادر عکس
   ========================================= */

.about-photo {
    width: 400px;

    margin: 0 auto 40px;

    padding: 30px;

    background-color: #E7E7E0;

    box-sizing: border-box;
}


/* =========================================
   عکس
   ========================================= */

.about-image {
    width: 300px;

    height: auto;

    display: block;

    margin: 0 auto;
}


/* =========================================
   دو کادر متن
   ========================================= */

.about-container {
    width: 100%;

    display: flex;

    justify-content: center;

    align-items: flex-start;

    gap: 30px;
}


/* =========================================
   کادرهای متن
   ========================================= */

.about-box {
    width: 700px;

    padding: 40px;

    background-color: #E7E7E0;

    box-sizing: border-box;
}


/* =========================================
   فاصله کادر اول
   ========================================= */

.box-one {
    margin-top: 0;
}


/* =========================================
   فاصله کادر دوم
   ========================================= */

.box-two {
    margin-top: 0;
}


/* =========================================
   متن داخل کادر
   ========================================= */

.about-box p {
    color: #433F46;

    font-size: 16px;

    line-height: 1.7;

    margin: 0 0 20px;
}


/* =========================================
   جمله مهم
   ========================================= */

.highlight {
    font-size: 28px !important;

    text-align: center;

    margin: 30px 0 !important;
}


.back {
    display: block;

    width: fit-content;

    margin: 40px auto;

    color: #E7E7E0;

    text-decoration: none;
}


.back:hover {
    text-decoration: underline;
}
