/* =========================================
   تنظیمات کلی صفحه
   ========================================= */

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}


/* =========================================
   پس زمینه
   ========================================= */

body {
    background-color: #433F46;

    font-family: "Quadrant Text Mono", monospace;
}


/* =========================================
   قرار دادن کارت وسط صفحه
   ========================================= */

.contact-page {
    width: 100%;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;
}


/* =========================================
   خود کارت
   ========================================= */

.contact-card {
    position: relative;

    width: 500px;
}


/* =========================================
   عکس
   ========================================= */

.contact-image {
    width: 100%;
    height: auto;

    display: block;
}


/* =========================================
   متن روی عکس
   ========================================= */

.contact-info {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 80%;

    text-align: center;

    color: #433F46;
}


/* =========================================
   عنوان CONTACT
   ========================================= */

.contact-title {
    font-size: 28px;

    margin-bottom: 20px;
}


/* =========================================
   اطلاعات تماس
   ========================================= */

.contact-info p {
    font-size: 14px;

    margin: 8px 0;
}


.back {
    display: block;

    width: fit-content;

    margin: 40px auto;

    color: #E7E7E0;

    text-decoration: none;
}


.back:hover {
    text-decoration: underline;
}
