/* تنظیمات کلی صفحه */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
	
}



.myname {
    text-align: center;
    margin: 30px 0 10px;
    color: #E7E7E0;
    font-family: "Courier New", monospace;
    font-size: 50px;
}


.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
	position: relative;
    top: 60px;
}

.icons img {
    width: 80px;
    height: auto;
}
.icons a {
	color: #CCAEB9;
	
    text-decoration: none;
}

.icon a:hover {
    color: black;
    text-decoration: none;

}

/* صفحه اصلی */

body {
    background-color: #433F46;
    font-family: "Quadrant Text Mono", monospace;
}





/* بخش عکس اصلی */



.hero {
    width: 900px;
    height: 700px;
	position: relative;
    top: 100px;

    margin: 50px auto;

    background-color: #E7E7E0;

    border: 0px solid black;
    border-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* عکس اصلی */

.hero img {
    width: 1000px;
    height: auto;
}


.website-info {
    text-align: center;
    margin: 100px auto 40px;
    color: #E7E7E0;
}

.website-info h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.website-info p {
    font-size: 14px;
    line-height: 1.6;
}

